{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}
        reagent/reagent {:mvn/version "1.1.1" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]}}
 :aliases {:dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                              org.slf4j/slf4j-nop {:mvn/version "2.0.5"}}
                 :main-opts ["-m" "figwheel.main"
                             "--build" "dev"
                             "--repl"]}}
 :paths ["src", "resources", "target"]}
