{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}
        reagent/reagent {:mvn/version "1.1.1" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]}}
 :paths ["src" "resources" "target" "test"]
 :aliases {:launch-fix {:main-opts ["--repl-opts" "{:launch-browser false}"]}}}
;; need to use with (setq cider-clojure-cli-aliases ":launch-fix")
